/* General Styles */

* {
  box-sizing: border-box;
}

body {
  color: #444;
  font: 16px/1.5em Roboto, sans-serif;
  margin: 1em auto;
  padding: 0 1em;
  max-width: 960px;
}

img, embed, object, video {
	max-width: 100%;
}

/* Headings */

h1, h2, h3, .role {
  font-family: "Playfair Display", serif;
  margin-top: 0;
}

h1, h2 {
  font-weight: 900;
  font-style: italic;
}

.candidate {
  display: grid;
    grid-template-areas:
      "logo name"
      "logo role";
    grid-template-columns: 4em auto;
    grid-gap: 0.5em 1em;
    justify-items: start;
  height: 4em;
}

.name {
  grid-area: name;
  align-self: end;
  margin: 0;
}

.role {
  font-size: 1.25em;
  grid-area: role;
    align-self: start;
  margin: 0;
  position: relative;
    right: 0.25em;
}

.logo {
  grid-area: logo;
}

ul {
  display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

li:before {
  font-family: "Material Icons";
  padding-right: 0.25em;
  vertical-align: bottom;
}

li[data-type="preview"]:before {
  content: 'visibility';
}

li[data-type="code"]:before {
  content: 'code';
}

li[data-type="work"]:before {
  content: 'work';
}

li[data-type="profile"]:before {
  content: 'face';
}

li[data-type="social"]:before {
  content: 'chat';
}
