body {
  font: 16px/1.5em Roboto, sans-serif;
  margin: 1em;
}

img, embed, object, video {
	max-width: 100%;
}

header, h1, h2, h3 {
  font-family: "Playfair Display", serif;
}

h1, h2 {
  font-weight: 900;
  font-style: italic;
}

.role {
  font-weight: 900;
}

ul {
  list-style: none;
  padding: 0;
}
